.input {
  /* Блочная модель */
  margin: 32px 30px 0;
  outline: 0;

  /* Типографика */
  font-size: 14px;
  color: #fff;
  font-weight: bold;

  /* Оформление */
  background: none;
  border: 0;
  border-bottom: 1px solid #72767d;
}

.input::placeholder {
  /* Типографика */
  color: #999;
}
