.chat__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat__item {
  border-bottom: 1px solid #72767D;
}
.chat__link {
  display: flex;
  justify-content: space-between;
  margin: 13px 35px;
  text-decoration: none;
}
.chat__author {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.chat__user-name {
  color: #FFFFFF;
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
}
.chat__user-message {
  color: #999999;
  font-size: 12px;
  margin: 0;
}
.chat__user-info {
  margin-left: 15px;
}
.chat__message-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.chat__date {
  font-size: 9px;
  color: #999999;
  margin: 0;
}
.chat__missed {
  display: flex;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  font-size: 11px;
  background-color: #728BD7;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}