.error {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error__title {
  /* Блочная модель */
  margin: 0;

  /* Типографика */
  font-size: 40px;
  color: #fff;
}

.error__paragraph {
  /* Блочная модель */
  margin: 20px 0;

  /* Типографика */
  font-size: 20px;
  color: #fff;
}

.error__link {
  /* Типографика */
  font-size: 14px;
  color: #728bd7;
  text-decoration: none;
}
